[2019-08-08 08:59] andyrichardson opened #6 "Package name prefixing"
For consistencies sake, lets exclude the `exchange` prefix ([devtools](https://www.npmjs.com/package/@urql/devtools) is just `@urql/devtools`).

Most libraries are going to be an exchange anyway so the prefix doesn't add much value.

[2019-08-22 12:40] kitten commented on #6
For now, both `@urql/exchange-suspense` and `@urql/exchange-graphcache` follow the naming convention of `@urql/` + `exchange` + name/topic. This is very much inspired by Babel's naming convention.

I don't expect the devtools exchange to necessarily follow that, but I do think it provides clarity above any other actual meaningful value. Let's hold off on making any more conventions than the two th

[2019-08-22 12:40] #6 closed

[2019-08-23 10:32] kitten opened #44 "Implement a (new) mark & sweep GC"
We want to add invalidation as a last resort to our normalised cache. It should be possible to do the following for instance:

[code]

In such a case it'd become vital to have the GC back in place. We had a simple GC, which was not sufficiently flexible to work with our newer `pessimism` store.

A new plan that is both efficient but needs a couple of changes is the following:

1. we make sure that

[2019-08-23 10:35] kitten opened #45 "Implement benchmark comparing our operations to apollo-cache-inmemory"
We need some kind of reference point and performance budget to be able to estimate the impact of upcoming changes, especially before we address #4

Some simple `write` and `query` benchmarks where we write bulk data and read it back would do the trick. Such a data sample should at least:

- contain 10,000+ entities
- 5 different types with 5 fields each
- nested lists of a depth of at least 3

[2019-08-27 09:02] JoviDeCroock commented on #45
Resolved by: #46

[2019-08-27 09:02] #45 closed

[2019-08-27 09:16] JoviDeCroock commented on #44
I've tried starting a small implementation of this, some issues that I feel when thinking about this is that our links look like this at the moment: `Query.todos: []`, we have no way of knowing that we have to find the link to `todos`. For that matter we would need to be able to look for partial keys. Iterating over this would be a very expensive operation since in theory this would imply:

- Iter

[2019-08-27 17:57] #44 closed

[2019-09-02 13:36] BjoernRave opened #56 "Forward is not a function when used with react-ssr-prepass"
I am using Next.js together with react-ssr-prepass.
I wanted to use this cache in my project. I only replaced the standard cache with this one and did not apply any config. When starting my site, I got the following error:

[code]

I am using the latest version of `urql-exchange-graphcache` and `urql`

[2019-09-02 13:37] JoviDeCroock commented on #56
Did you execute the cache when adding it to your exchanges, `cacheExchange()`? Could you add the way you added it to the client please?

[2019-09-02 13:39] BjoernRave commented on #56
Ah, no I did not 😅 Thanks for your help, will close this issue again :)

[2019-09-02 13:39] #56 closed

[2019-09-05 08:59] JoviDeCroock opened #61 "Offline and persistent cache support"
# Offline

We all think about this in the modern PWA-era but there's a lot to this. We'll have to keep track of what requests the user needs to send when the connection is restored, after these requests are sent there will MOST likely be several optimistic entries to clear.

## Operations

So for knowing what operations to cache it should be sufficient to only cache mutation operations. These will

[2019-09-06 19:46] jBugman opened #64 "Passing introspection schema breaks the client"
Client breaks with ```Uncaught (in promise) Invariant Violation: Invalid type: The type `undefined` is not an object in the defined schema, but the GraphQL document is traversing it```

Reproducible with the simplest schema
[code]
Cache is set up like that
[code]
`introspectionSchema` looks like that:
<img width="378" alt="image" src="https://user-images.githubusercontent.com/891785/64455927-95309

[2019-09-06 20:03] kitten commented on #64
@jBugman hiya, that's one of our warnings/invariants that validates queries. Obviously sth has gone wrong with it. I've just checked its source and I may have an idea of what's going on.

Can you wend me the query that you tried to run please?

[2019-09-06 20:15] jBugman commented on #64
@kitten, thanks for the fast reply!

Minimal reproducing query (I removed almost all fields) is
[code]
defined as
[code]
But it actually breaks on every our query I tried.

[2019-09-06 20:15] kitten commented on #64
to narrow this down, does this happen with RC.3? If it isn't happening in RC.1 then it's probably related to some flawed validation stuff

[2019-09-06 20:23] jBugman commented on #64
Yes, this reproduces in both rc.3 and rc.2 but works with rc.1 as far as I can see. I started playing with `graphcache` today, so I initially only tried on `@latest`

[2019-09-06 20:24] kitten commented on #64
Aha, that makes sense. it's probably related to https://github.com/FormidableLabs/urql-exchange-graphcache/pull/63 😅  I'll see whether I'll find the time to fix it this eve or next week :+1:

[2019-09-06 20:42] jBugman commented on #64
I can provide stacktrace only from bundled/minified version at the moment, which, I think may not be very helpful.
[code]
(I removed useless source locations)

[2019-09-09 10:41] #64 closed

[2019-09-09 12:44] JoviDeCroock commented on #64
Hey @jBugman

Thanks for the reproduction, it helped us solve the issue much quicker. The new release `1.0.0-rc.4` (current latest) has the fix.

[2019-09-09 13:17] jBugman opened #67 "Returning `null` from `KeyGenerator` messes up the data in array query"
Synthetic example schema
[code]
My intention is to all Children to always be embedded in the Parents. By default it works that way (at least is looks like that) but I get warnings `... Entities without keys will be embedded directly on the parent entity. If this is intentional, create a `keys` config for `PostTextContent` that always returns null.`
If I do that warning suggests and add this to con

[2019-09-09 13:18] kitten commented on #67
oh dear, that's another bug I've introduced. Hold on, I'll push a fix 😅

[2019-09-09 13:29] #67 closed

[2019-09-09 14:04] jBugman commented on #67
Wow that was fast

[2019-09-09 14:13] kitten commented on #67
RC.5 includes this patch :+1: https://github.com/FormidableLabs/urql-exchange-graphcache/commit/9eeafa4796ed7d260a624cef1c3ac720592df6b9

[2019-09-09 15:46] jBugman opened #69 "Crash on subsequent run of multiple 'concurrent' queries"
I have a page where two components run a query each, say `post(postID)` and `comments(postID)`.
On the fresh page load it works fine, but on navigation with react router (then there is some previous state) page crashes (on the second query) with
[code]
At first I thought it had something to do with list<->item relationship (post list and an individual post), but then I checked that it also happen

[2019-09-09 16:22] zsolt-dev commented on #61
Thank you for working on this.

I think it would be good to allow everyone to use whatever persistent storage they want. For example, the https://github.com/apollographql/apollo-cache-persist allows you to select these:
- AsyncStorage on React Native
- window.localStorage on web
- window.sessionStorage on web
- localForage on web

or any custom storage, for example I use this to connect to the ind

[2019-09-09 22:53] kitten commented on #69
I've got a tiny fix ready for this. I thought the condition that was being fixed was impossible, but it is indeed not. We've actually already encountered this issue in our default cache, but forgot to take this into account in Graphcache.

It's a really simple fix, but the problem is essentially that it's hard to reason about _why this case is indeed **not** impossible._ 😅

[2019-09-09 22:57] #69 closed

[2019-09-12 15:56] lukasluecke opened #74 "Dynamic key generation / ignore Relay pagination helpers"
Using a Relay-based (following their spec) API with pagination results in lots of warnings, because all the `Connection` and `Edge` objects do not have an `id`. Maybe we could add a way to dynamically generate keys with a function that get's passed the `Type`, or just add an option to ignore all these pagination helper types?

[2019-09-12 16:07] lukasluecke opened #75 "Add generic types for updates"
I have the following code (in `updates.Mutation`) to update a list count after creating an item:
[code]

---

There's currently no validation / hints on `variables` or `data`, which should be possible by passing the respective types as generics to `updateQuery` (similar to how `useQuery`/`useMutation` hooks work).

I also get a typescript error on `data.parent.items`:

---

It would also be great

[2019-09-12 18:05] jBugman opened #76 "ID type mismatch in `updates` if `id` is a number"
Condensed example:
[code]

To be fair I did not test that happens if I define `id: number`.

[2019-09-12 18:08] lukasluecke opened #77 "Handle errors in updates"
I think there should be a clean way to handle mutation errors inside the `update` functions. Right now we only have access to `result: Data`. We should either provide the errors as well, or just not call the `update` if there's an error?

[2019-09-12 19:23] #76 closed, assigned to nobody

[2019-09-13 13:55] #74 closed

[2019-09-13 17:40] lukasluecke opened #80 "Optimistic updates lead to weird partial results (`null` nodes)"
Trying to use optimistic updates currently produces weird results for me. I'll try to add a reproduction later, but not sure when I'll get to that 🙈

Query:
[code]

Mutation:
[code]

Optimistic:
[code]

The initial optimistic update correctly updates the Query data. The issue seems to arise after that, and manifests in a partial result, with only the optimistic Item being set, and all other `node`

[2019-09-13 17:49] kitten commented on #80
Hiya 👋  just to make sure I'm getting this right:

- the query gives you a list of items
- you send the mutation
- the optimistic update correctly updates the query with the new name
- the result comes back and (?)

So I'm not quite clear on what happens once the actual mutation result comes back.
Are you saying that all other node fields are missing? Are you providing a schema to your graphcache

[2019-09-13 17:54] lukasluecke commented on #80
After the result comes back the data I get in my component, using the list query with `useQuery`, all the previously set `node` fields in the `edges` are set to null (except the one with the optimistic update). So the edges stay there, but their nodes are missing, which is something that's not really expected with these Relay pagination queries (or at least I didn't experience that yet).

I am pro

[2019-09-13 17:57] kitten commented on #80
Ok, I think I've found the bug. We've recently found some weird behaviour in `pessimism` with `clearOptimistic`, which is supposed to clear out all optimistic K/V entries.

I've just pushed a fix, so if you make sure to `yarn upgrade` to upgrade `pessimism` to `1.1.2` it should work correctly 🤞

(For future reference, this is the fix: https://github.com/kitten/pessimism/commit/cd604473a8e1bdf1e9c1

[2019-09-13 18:13] lukasluecke commented on #80
Mh, still seem to be running into the same issue 🤔 I'll have to leave now, but will try to provide a compact reproduction later. Thank you for the quick replies! 🙂

[2019-09-14 14:52] kitten commented on #80
I think I may have a hunch on what may be going on. I think it may be related to writing nested embedded entities to the cache and reading them back. I'll have to write a test case for our suite to confirm, but I did notice that we're not testing for this case and it may very well be the culprit 😅

[2019-09-15 00:30] lukasluecke commented on #80
If you need anything else from me, just let me know 🙂 I'll work on the rest of my `updates` in the meantime, those work pretty nice already 👍

[2019-09-15 23:56] kitten commented on #80
I'm trying to hunt down this issue, and the piece of code where I suspected an issue is in fact correct as far as I've tested 🤔  I did however read through your sample again and there may be some things that aren't quite adding up. So I assume you're altering the queries and sample code and are slimming them down?

In your optimistic update you're spreading `variables` to the output, but that retu

[2019-09-15 23:59] lukasluecke commented on #80
Oh yeah I'm sorry, I have the `__typename` set (In my original example I did read a fragment from the store, and spread that first, so the typename was included there - but since that didn't really matter, I've removed it).

[2019-09-16 00:01] lukasluecke commented on #80
If you could tell me what exactly to look for, or how to test, I'd be happy to. I'm currently at the airport and will be offline for the next day or so, but I'll work on a runnable reproduction for you after that 🙂

When I last tried it, the `edges` were all kept intact (as in the number of edges didn't change), but all of them except the one containing the just updated Item had their `node` set t

[2019-09-16 00:18] kitten commented on #80
I've pushed an initial reproduction to `temp/issue-80` that doesn't break (so working as expected), which is in the form of a Jest test that does the optimistic write. Right now, it's a copy of what you're describing but it seems that I'm missing a crucial detail here 🤔 https://github.com/FormidableLabs/urql-exchange-graphcache/commit/41aae38c36115fdaeade2403c0b139a935d21b6f#diff-d6d14b67a49036829

[2019-09-16 00:28] lukasluecke commented on #80
I‘ll check it in detail when I can, but just saw that the server write was commented out in your snippet, correct? My issue happens when the server write runs, not after the optimistic update itself.

[2019-09-16 00:52] kitten commented on #80
I did try it with the `write` that is commented out, but I forgot to add `store.clearOptimistic` and that does reproduce the bug successfully :tada: https://github.com/FormidableLabs/urql-exchange-graphcache/commit/494f9610f4a038718bd3df40a1df9c4f2aedbf33#diff-d6d14b67a49036829ad311d8ce605a6bR361

This is actually a good sign! Because it may mean that it's a small bug in the data structure again,

[2019-09-16 01:05] lukasluecke commented on #80
Awesome, thanks for your work! 😊🎉

[2019-09-16 01:48] #80 closed

[2019-09-16 01:52] kitten commented on #80
Alright, I found the issue :tada: I thought I fixed it earlier in pessimism 1.1.2, but it turns out there was a more severe issue in how `clearOptimistic` was implemented before. However, we now have a solid test for this case and a new RC.9 release to force everyone onto pessimism 1.1.3 🎉

[2019-09-16 02:53] lukasluecke commented on #80
🎉 Damn, that was a quick fix! I‘ll be in the air for another 10 hours, but look forward to using this new version after that 😁

Glad I could help with a reproduction 😊 and once again, thanks for your work on this - urql has been a joy so far!

[2019-09-16 04:17] lukasluecke commented on #77
I think that as long as the types that will be added for #75 correctly reflect the possible values (i.e. nullability), and/or we don't call the `update` function for completely null data, things would probably be fine for now. It's probably better to discuss this further once the type thing is solved, because then we'll see where the limits of that are.

[2019-09-16 04:18] lukasluecke commented on #75
I might try to figure something out for this next week 👍 if no one beats me to it of course 😉

[2019-09-16 13:50] lukasluecke commented on #80
@kitten My example works now, so also a confirmed fix from my side 🙂

[2019-09-17 17:08] switz commented on #64
Hmm, I'm not seeing an error thrown, but no data is returned once I pass in my schema. I'm on the latest version & using `react-native` (which may have an effect).

The API is definitely returning the data as seen below. But the last line still has `data: {}` returned from my `useQuery`.

Here's my schema.json: https://gist.github.com/switz/b22aed2da80dc1c58e696ea827f21cb4

<img width="1306" alt="

[2019-09-23 12:45] lukasluecke opened #86 "Cache not being hit for single items, that were previously requested in a list"
I was under the impression that the following queries should result in the cache being hit, but it just sends two requests. (I load the `ItemList` in a main screen, and load `Item` inside a subview, **after** clicking on a list item). The `__typename`s are correctly requested and match.

[code]

[code]

[2019-09-23 12:46] lukasluecke commented on #86
@JoviDeCroock Here's the issue I'm running into right now 😅

[2019-09-23 12:49] JoviDeCroock commented on #86
Yes this is normal, we can't assume that `items` queries that `item` since `__typename` is received from the server. This would need us to do assumptions about your data, we could implement some new config in graphCache that does the following:

[code]

This is essentially a load-time/performance optimisation.

[2019-09-23 13:00] lukasluecke commented on #86
@JoviDeCroock That's what I figured - but I still think it should be possible (or even work like that by default). Since the `node` field has the same `__typename` and `id` as the `item` field, should that not mean that they share a cache "slot"? The partial handling should be similar to what we have for other cases already, no? And at least if the fields are identical (or a superset) we could jus

[2019-09-23 13:05] JoviDeCroock commented on #86
Yes, we only know the `__typename` from the server response or if we would infer it from our introspection result. Doing a partial return without introspection result is dangerous, so it would only be safe for when there's a schema present in my opinion. That would imply that we see if the __typename matches and set our result from the start with that result. Then it continues as normal. If it see

[2019-09-23 13:07] JoviDeCroock commented on #86
Do note that the second time your list and details query WILL be linked in the cache since now it DOES know that for that entity that the details query writes to the same location as the list.id one. This means that if you would write an update/optimistic it would update both.

[2019-09-23 14:22] lukasluecke commented on #86
@JoviDeCroock Providing a way to "match" the fields with a introspection result / schema would be great. It's not really that big of an issue right now, it would just be "nice" to have 😉

[2019-09-23 14:27] JoviDeCroock commented on #86
I will probably try and discuss this later with some others since I'm not entirely sure how feasible it is to work on schema alone. This would require some premises, one we would need to be sure that there is an argument stating we want an id (and that should actually be the only argument), then we could go ahead and check if a record exists with that specific name and identifier.

This would then

[2019-09-23 14:34] lukasluecke commented on #86
Sounds good 👍 Thanks for the detailed response as well 🙂

I was using Apollo in the past, which is why that was my expectation in the first place. Not sure how much sense their approach makes, I prefer stability in this case - but if you can figure out a good solution that would be awesome!

[2019-09-24 11:42] JoviDeCroock commented on #86
Hey @lukasluecke

For now your use case can be solved by:

[code]

We don't want to go to automatic stuff since there could be a lot of server logic that won't be triggered if we do so.

[2019-09-24 12:03] lukasluecke commented on #86
@JoviDeCroock Thanks, I'll try that soon. I'd still appreciate a more "automatic" solution in the future, even if it's not fully automatic (e.g. you have to specify a map of Queries / Typenames - but not define identical functions for each of them), or opt-in (e.g. only for `cache-only`?).

[2019-09-24 19:16] lukasluecke commented on #86
@JoviDeCroock Just wanted to let you know that your solution worked for my current use case 🙂

[2019-09-24 19:17] JoviDeCroock commented on #86
All right, closing this issue :D thanks for bringing it to our attention, we have added it to the documentation. We'll work on better documentation in the coming days.

[2019-09-24 19:17] #86 closed

[2019-09-25 23:38] kitten commented on #74
A `relayPagination` helper is now very close to be merged :tada: https://github.com/FormidableLabs/urql-exchange-graphcache/pull/91

[2019-10-09 21:07] BjoernRave opened #106 "not recognizing id"
For my whole app it is working great, but for this one page it keeps telling me that its needs an id to cache the request and keeps resending the query. I am querying for an id on every subfield and also verified that my backend is sending those. I though it might be connected to arras, that are requested This is it:

[code]

and this the schema:
[code]

[2019-10-09 21:08] kitten commented on #106
Hiya 👋 do you have the specific output from the warning that you can post here? Maybe it’s just a little unclear and we’ll have to improve it?

[2019-10-09 22:31] BjoernRave commented on #106
Hey :)

of course, here it is:

[code]

[2019-10-09 22:39] kitten commented on #106
Ok, that seems rather odd, since the query you've posted does include `id` as a field, which is required (`ID!`). Are you sure that all your queries do include this field, just to be thorough 😅

Maybe we should include the query name in the warning in the future

[2019-10-09 22:42] lukasluecke commented on #106
Yeah it might be another query that also queries the place, where the `id` selection is missing - maybe you could check your network requests and post the results?

@kitten More context in the warning would be awesome - I ran into the same issue in the past I believe, and that would probably have helped solve it faster.

[2019-10-09 23:52] kitten commented on #106
This will probably improve the quality of our warnings and errors by adding a small trace to them. Maybe this helps? It's published for testing as `1.0.4-debug-trace` under the `@urql/exchange-graphcache@debug-trace` tag.

[2019-10-10 19:12] BjoernRave commented on #106
@kitten thanks for that :) I found the problematic query, it was indeed as @lukasluecke said. It was this one:

[code]
when it should be like this:

[code]

I think the improved warning message should be included in the master branch

[2019-10-10 19:12] #106 closed

[2019-10-29 09:07] lukasluecke opened #109 "Imperatively update cache contents outside of Query/Mutation workflow"
I have a WebSocket subscription (not GraphQL) and would like to update parts of cached GraphQL queries in response to messages I receive there. Is there a clean way to achieve this?

[2019-10-29 09:08] JoviDeCroock commented on #109
Yes similar to how you declare update.Mutation you can declare update.Subscription like here: https://github.com/JoviDeCroock/threed-web/blob/master/src/index.js#L141

[2019-10-29 09:09] lukasluecke commented on #109
It's not a GraphQL subscription - it's some asynchronous process running "outside" of the whole urql / GraphQL stuff.

[2019-10-29 09:11] lukasluecke commented on #109
I would probably need something like `useCache` similar to `useClient`, that gives me access to `writeFragment` etc.

[2019-10-29 09:15] JoviDeCroock commented on #109
A client process that alters your data on the server but is not reflected from there?

[2019-10-29 09:20] lukasluecke commented on #109
The data is already updated on the server, but we can't use GraphQL subscriptions for that right now due to technical/architecture reasons (hopefully not much longer 🙈).

I want something like an optimistic update triggered manually, until the next refetch from server (which will have the same / updated data).

[2019-10-29 09:22] lukasluecke commented on #109
The WebSocket (or SSE, or anything else) connection is more like a second communication channel, that can trigger refreshes of data. Since these messages already include some / all of the data I want to refresh, I'd like to directly write it to the cache instead of refetching the related queries (which works fine already).

[2019-10-29 15:05] kitten commented on #109
This is a conscious constraint we’ve actually added. If you look at the store itself (which we often refer to as the cache instance) it explicitly has some guards that disallow it being accessed outside of operations.

This is a constraint that allows us to make a lot of assumptions about updates and data changes, especially in the presence of schema information.

It is simply not safe to mutate t

[2019-10-29 15:19] lukasluecke commented on #109
Thanks for the detailed response @kitten (and also @JoviDeCroock for your fast replies earlier!)

My goal long term is to move towards "plain" GraphQL subscriptions anyway (with a custom transport or something), but until then, I'd like to try the "quick solution".

Any pointers on what exactly you're suggesting? How would I provide "faux" responses to an exchange?

[2019-10-30 17:31] ostrebler opened #110 "Support simplePagination cases as automatic resolver with cache misses supported"
I just discovered urql and it's pure gold. This library was really needed. Apollo is great but monopolies always have their downsides.

I can't wait to switch to urql in my main big professional project. I have carefully read the doc to see how I would convert the Apollo features I use to urql. Everything is pretty much there (smart graph cache, updating cache on mutation, custom cache keys, etc)

[2019-10-30 17:35] JoviDeCroock commented on #110
I think linear to the `relayPagination` a resolver can be implemented to handle this concatenation for you, That should fix the issue with needing `fetchMore`. This custom resolver in turn removes the need for `@connection`.

[2019-10-30 23:06] ostrebler commented on #110
Alright, I'm going to give it a try on a smaller test project and quickly come back to you. Thank you for your guidance.

[2019-10-30 23:09] kitten commented on #110
I’m also thinking that we may want to provide a `simplePagination` helper somehow, to make non-Relay pagination easier, but it may be hard to generalise those.

But maybe we can offload some of the complexity around generalising this by making it accept a function in its config that is user-defined and merges two pages 🤔

[2019-10-30 23:14] ostrebler commented on #110
Actually, if I'm able to come up with something nice on my side, I can try and propose you a generic pagination utility. I really like this project so far and would be pleased to contribute.

[2019-10-31 08:07] ostrebler commented on #110
I think something that would really help is a method on the cache to rebuild a complete response from a cache key (in this case a page). I see that it can be done by recursively traversing `cache.links` and `cache.records`. Without it, I think it will be pretty complicated to go generic without forcing users to go really low-level for each type of pagination they would like to use (like in `relayP

[2019-10-31 23:22] ostrebler commented on #110
If I understand it right, `relayPagination` does a controlled aggregation of all the previous queries having the same signature minus the keys used for pagination. I think that raises one issue, more or less linked to my previous comment (I'll come back to that) : not all variable changes should end up creating a new entry in the cache. Sorry if I always come back to Apollo, but it's my only refer

[2019-10-31 23:29] kitten commented on #110
First and foremost, sorry, but I don’t think we will go with connections 😅 Personally, I think it’s not a good API and having the cache store “fantasy” data that is stitched together is not that great, as we’re moving farther from creating a source of truth, to creating a store without actually deriving data.

Luckily, it’s still possible to do this with our current approach. It’s just somewhat hi

[2019-10-31 23:40] ostrebler commented on #110
Yes I understand your strategy, it's pretty clear from the code which is well written by the way, but I don't think this is any cleaner than `@connection`. You just defer the pagination aggregation, but I don't see what you really gain. Useless and outdated cache keys are kept in the store and the aggregation complexity is left in the hands of the developer.

[2019-10-31 23:48] kitten commented on #110
@ostrebler Right now it’s not actually a matter of gain vs drawback, it’s more of an approach and philosophical choice of how we’ve structured and built the cache.

The one advantage however would be that you can still retrieve individual pages, since the cache isn’t being changed to write completely different data.

This also means that offline support is improved drastically (a future ambition o

[2019-11-08 13:09] wtrocki commented on #61
Hi

I'm the maintainer of the Apollo-Cache-Persist. I have been playing with the Urql-exchange-graphcache for a while and I absolutely love it.
I think on very simple layer persistence can be done today by utilizing a similar mechanism. However, this will mean storing entire cache as single key. Typical cache snapshot approach that is very inefficient and jitters rendering.

Do you allow community

[2019-11-08 13:19] wtrocki commented on #61
I will also put some extra info for context:

- Community and users will care a lot about sync/async api.
The main problem in cache-persist was that sometimes actual storage interface was sync (localstorage) but api was still requireing users to await - which in turn made entire usage very complex.

- Optimistic responses cannot be persisted due to the fact that it will require significant amount

[2019-11-08 13:58] JoviDeCroock commented on #61
Hey @wtrocki

I'm super happy that people are interested in this issue, we encourage community exchanges and are happy to help out where possible.

- Our exchanges allow for both async and sync operations so we could probably abstract this away by throttling operations until something has finished (users won't feel the implication)
- Optimistic responses will be a hard thing to tackle I think in t

[2019-11-08 14:10] wtrocki commented on #61
The way it will work is that there will be separate persistor available globally that will need to be awaited and then it will setup initial cache. If graphcache has ability to seed initial data then this is very trivial to implement

Absolutely not. They should be ignored completely. Most of the frameworks like offix or luna.js recreates them anyway. Trick is to have cache that do not apply optim

[2019-11-08 14:12] wtrocki commented on #61
EDIT: I meant https://github.com/wtrocki/apollo-client/blob/07a4f2c4b7cfe4c31ed41a393e5e0da317780661/packages/apollo-cache-inmemory/src/inMemoryCache.ts#L83-L84

[2019-11-08 14:15] JoviDeCroock commented on #61
Optimistic responses are layered on top of data so that in essence is no issue, my reasoning behind keeping optimism around is that we want to restore the data AND be able to dispatch the request when the user gets online. Maybe I was putting too much eggs in one basket though.

Definitley, https://github.com/JoviDeCroock/threed-web is an app we can use to test it, linearly we have an API for that

[2019-11-08 14:17] wtrocki commented on #61
See https://offix.dev this is the exact use case of this library. However it is way too much for an cache persistence.

Perfect. Going to check this and provide update in this PR.

[2019-11-08 23:48] wtrocki commented on #61
So coming back with the plan. I think that having some extra interface passed to the store can hook persist method for:

- writeRecord
https://github.com/FormidableLabs/urql-exchange-graphcache/blob/88313818511eb59bd8b80425ca2e2bb6352ae8c2/src/store.ts#L200

- writeField
https://github.com/FormidableLabs/urql-exchange-graphcache/blob/88313818511eb59bd8b80425ca2e2bb6352ae8c2/src/store.ts#L212

But

[2019-11-08 23:58] kitten commented on #61
@wtrocki That looks awesome! I’m thinking of how we could approach this at “scale” 😂

So pessimism ensures stable perf and immutability (which we don’t need right now) but is otherwise really simple. I’ve been thinking that it’d be nice if we could have a store wrapper (or modify pessimism) that provides a synchronous KV layer (like what pessimism does right now) but flushes writes to any async st

[2019-11-09 00:11] wtrocki commented on #61
Yes. I had that exactly in mind and it should be trivial.

I do not get that. Would it work like singleton - first call will try to restore from persistence.
It would be cool to be able to seed those 3 fields somehow at the time of cache creation.

Really nice idea. Need to think on how this would work - optimistic responses and update methods will be global right?

[2019-11-13 15:46] sporieg commented on #110
Is there progress on the `simplePagination` helper?

I have a similar issue, where I need to page by limit/offset, but I am not having much luck figuring out how to implement the resolver.

[2019-11-15 12:07] kitten commented on #109
Ok, I think we've accidentally dropped the ball here! Sorry 😓

What we mean by "faux responses" is that you can write an exchange that sends results without having any operations come in. You'd basically have an exchange after Graphcache that sends results that correspond to your out-of-GraphQL results. That's obviously not the best solution, but its constraints would help Graphcache retain its ca

[2019-11-15 12:07] #109 closed

[2019-11-15 12:35] JoviDeCroock commented on #110
@sporieg work is happening on the `/simplePagination` branch

[2019-11-21 12:49] JoviDeCroock commented on #110
Hey, sorry for the late update.

Have you tried using [simplePagination](https://github.com/FormidableLabs/urql-exchange-graphcache/blob/master/docs/resolvers.md#simple)? It's available in the 1.2.x releases

[2019-11-25 23:58] sporieg commented on #110
Late reply, but I am having issues with the implementation.  It behaves different for the same integration test depending on if that test is in the @urql/exchange-graphcache codebase or my own.

The test scaffold looks like:

[code]
When it fails, I get the following values for `Source<OperationResult<any>>`

[code]

I have run this test in:
* @urql/exchange-graphcache - passes
* My companies reac

[2019-11-26 00:25] JoviDeCroock commented on #110
That sounds like a setup problem to me, it’s saying cache hit without data in cache. that could suggest that we are having a false positive there.

[2019-12-03 13:58] andyrichardson opened #123 "Populate exchange + support for queries with variables"
Looking to explore how we can extract nodes in a Query document which contain variables (in the populate exchange).

Options:
 - Ignore nodes with variables
 - Auto populate variables with last used values
 - Add a decorator to allow the user to choose what variables to include/exclude .etc

CC @imranolas

[2019-12-07 15:35] kitten commented on #61
I think we’re in a much better position now to tackle this 🥳

The pessimism KV layer is gone and has been replaced with a much simpler backing store. It’s still storing and treating optimistic entries separately, which is perfect since we don’t want to persist them.

The next step would hence be to allow a persisted store to be slotted in that we can flush writes to regularly. Then we’d want to in

[2019-12-08 09:29] JoviDeCroock commented on #61
I’d say that we’d only need a certain amount of things in graphCache:

- a way to inject the offline store
- an adapter for offline stores (ex: offix)

This way offix handles all the complex offline-online logic while graphcache remains focussed on being a normalised cache. I do agree that we should have some low_prio work that would involve taking our schema and removing fields,... this can be co

[2019-12-08 15:32] kitten commented on #110
Sorry for the delay here 😓

I guess this is "expected behaviour". When no `schema` is passed there can never be a cache miss from resolvers. We may want to get rid of that:
https://github.com/FormidableLabs/urql-exchange-graphcache/blob/d668ae80dac2a14dc601ae44679d674edafdb2f6/src/operations/query.ts#L313-L318

[2019-12-08 18:49] wtrocki commented on #61
I think that is the key to everything
Once that it is possible I can work on connecting offix or even just storage like localForage etc.
I will try to apply the changes as suggested above and see if that will work.

[2019-12-09 12:25] JoviDeCroock commented on #61
@wtrocki I've started making an initial implementation for rehydrating a store: https://github.com/FormidableLabs/urql-exchange-graphcache/pull/124 now we need to hook into an adapter to write/delete/... On for instance offix.

[2019-12-09 13:33] wtrocki commented on #61
Awesome! thank you so much and sorry for not making it on time. Yes. I will try this out with the customized apollo-cache-persist and it that work I will post it as a package. Having dev version of the PR published will be amazing.  Follow up will be to get more complex use cases like cache invalidation etc. (offix)

[2019-12-12 13:48] kitten opened #129 "Verify whether resolvers cover all use-cases"
We'd like to collect more use-cases for resolvers. Right now we have some out of the box patterns, `relayPagination` and `simplePagination`, but we haven't explored all possible cases in which resolvers may make sense.

As part of this task we'd like to explore more use-cases and ensure that all possible GraphQL cache resolvers that can be implemented with other clients, can be implemented with Gr

[2019-12-12 13:49] kitten opened #130 "Cache Control and TTL on entries"
We'd like to verify whether it makes sense to store a TTL per entity or Query field.

As part of this it should be possible to evict entities when they reach a maximum age.

Does this make sense? Is there a valid use-case for this? Can this be achieved in a more elegant manner?

[2019-12-13 13:42] andyrichardson commented on #123
Going to reopen this as it's still an ongoing issue.

After some discussion, the plan is to remove tracking of nodes which contain variables in the populate exchange.

[2019-12-17 16:43] mgrip opened #140 "Should updateQuery always return partial results?"
I'm still learning the details of graph cache - so forgive me if some of my assumptions are incorrect

Currently, I believe the `updateQuery` function uses the same cache result policy as normal queries - which from the docs is: `When the cache has enough information so that only optional fields in a given query are missing, then it delivers a partial result from the cached data`. My question is -

[2019-12-17 17:10] mgrip commented on #140
I also considered using `writeFragment`, but that doesn't give you access to the value that's currently in cache. Maybe I could try using a combination of `readFragment` to get the current value of a field from cache, and if it exists using `writeFragment` to update it?

something like

[code]
...and then the same thing for the other field?

(side note - the [documentation](https://github.com/Form

[2019-12-19 15:57] kitten commented on #110
The above PR should fix this! Sorry again for being a little slow on this one

[2019-12-19 15:59] kitten commented on #140
That's a good point! I'm not quite sure about this one. The problem is that we'd like to enforce that data returned from Graphcache is always compliant to the schema, so missing fields aren't just returned so that the data matches up with generated types (e.g. for TypeScript)

I can see your problem in this case though, as it's inconvenient to add to a query that isn't complete in the cache. 🤔

[2019-12-19 16:06] #110 closed

[2019-12-20 03:52] kitten commented on #61
Persistence has been implemented now by #137 and #138. There's an example that demoes it in #141.

The next step now is working on an offline exchange (or a built in one into the main `cacheExchange`) that integrates with this and supports queueing up offline mutations, keeps the optimistic update intact (if any), and is able reexecute offline mutations on startup or when the user comes back onlin

[2019-12-20 08:58] JoviDeCroock commented on #61
I think to efficiently do this in a separate exchange we'll need to add, `OperationRequest.hasOptimisticResult`, else we'll never know whether or not to let the `mutation` gracefully fail or buffer it either way.

[2019-12-20 12:26] morrys commented on #61
Hi to all,
I wanted to get to know the libraries I created to manage persistence and offline workflow for GraphQL libraries:

[wora/cache-persist](https://morrys.github.io/wora/docs/cache-persist): uses a javascript object synchronously and processes communication with storage asynchronously (highly configurable in all its aspects, storages: localStorage, sessionStorage, indexedDB, React-Native As

[2019-12-23 04:52] ed-zm opened #146 "Pass custom variables to `update` and `optimistic`"
I am dealing with querying from store a query that has different variables(and can vary) than the mutation performed. I am migrating fro apollo where we can use optimistic and update as second parameter when executing a mutation so we can pass different variables that are available in the same context. That doesn't seem to be an option in urql, so in that way we have to recreate all the updates an

[2019-12-23 16:57] sporieg commented on #110
Will it fix it?

My problem is the pass|fail changes between running in any repo that uses the npm package, and this repo from github.  Adding the schema did not change the results at all.  This is still the case in 2.0.0.

If I run the test in my repo with

[code]

It fails, the exact same code with

[code]
From this repo passes.

[2019-12-23 17:10] JoviDeCroock commented on #110
I'll see about getting a publish out later this evening @sporieg

[2019-12-26 14:20] JoviDeCroock commented on #129
A use case I've found for updates where we could be lacking if we for instance have two lists:

`Todos({ filter: 'x', from: 0, limit: 10 })` and `Todos({ filter: 'y', from: 0, limit: 10 })`

If we now execute `deleteTodo` how would we delete something in both of these lists?

[2019-12-28 02:31] kitten commented on #146
Hiya 👋 Excellent question! It did occur to me that we’ll need this eventually, and we just weren’t sure of how to make this work cleanly.

Having variables be defined on the query means that they’re type-cast and safe to pass. GraphQL code generators would also generate types for them, which means that they can be seamlessly defined and passed from the JS-side.

The question is, how do we pass ext

[2019-12-28 02:43] kitten commented on #146
One idea that may work and comes to mind is defining local variables with a directive on the mutation, e.g.

[code]

The directive would be called `@cache` to make it more generic sounding, so it can be reused for future features.

The `filter` argument tells us which variables aren’t to be sent to the server.

The disadvantage here is that it’s easy but in Graphcache we’d have to alter the query

[2020-01-10 10:31] JoviDeCroock opened #152 "Directive composition"
## Idea

Related to https://github.com/FormidableLabs/urql-exchange-graphcache/issues/146 I'd like to extend our `traverser` to have a certain set of directives like the one proposed in the issue `@extra`. When passed to the `cacheExchange` it would automatically stop at these directives, strip them out and execute a callback allowing you to return an altered operation, ....

This would for exampl

[2020-01-10 16:30] andyrichardson commented on #152
I think the order importance of exchanges is a bit of a pain but I'm not sure nesting them inside the cache is the way to go.

Wouldn't this basically make most/all exchanges redundant?

[2020-01-10 16:33] kitten commented on #110
This should be fixed in `2.1.0` https://github.com/FormidableLabs/urql-exchange-graphcache/releases/tag/v2.1.0

[2020-01-10 16:35] JoviDeCroock commented on #152
No but I'm trying to find a middle ground on this. Much like for instance redux has middlewares it could be used to make our cache smarter (and we need to solve the issue anyway so I thought let's look for a very extendable solution)

[2020-01-10 16:36] kitten commented on #152
I think it's sufficient to fix https://github.com/FormidableLabs/urql-exchange-graphcache/issues/146 in isolation :)

[2020-01-10 16:39] JoviDeCroock commented on #152
@kitten do you agree with @andyrichardson to catch a directive like `extra` in a separate exchange?

[2020-01-10 21:09] zenios opened #154 "Null value inconsistency"
**Request Query**

[code]

**Server response**
[code]

**Without graphcache**

1.  `{
   fetching:true,
   data:undefined
}`

2. `{
   fetching:false,
   data:{
      __typename:"Query",
      room:null
   }
}`

**With graphcache** and resolver of type `
 {
            Query: {
              room: (parent, args) => ({
                __typename: "Room",
                id: args.id
              })

[2020-01-10 22:21] kitten commented on #154
Hm so typically we don’t treat that as an inconsistency, but as a feature `undefined` is the initial data state in `urql` and it’s convenient as it indicates the absence of any possible data as a GraphQL API can never return `undefined`.

In Graphcache when we read from cache and no value is present however (be that because the resolver is missing data, the cache itself is missing data or because

[2020-01-11 01:01] zenios commented on #154
What ever the case, it has to stay consistent.

Imagine someone adding graphcache while he is in the middle of the development and suddenly finds out that null values should be handled differently :)

[2020-01-11 19:56] kitten opened #155 "Ensure idempotent and commutative updates"
Now, this is a tough one but we may want to think about this for offline support that is reliable. A lot of this is well summarised in this talk: https://youtu.be/DEcwa68f-jY

We already have a concept of commutative updates. When we apply optimistic updates, they’re only applied to separate layers in a consistent order. This order can never break down. Once an optimistic layer is created and upda

[2020-01-23 20:20] kitten commented on #154
We may add an option to Graphcache then to force consistency, since it has distinct meanings, but that’s a good point 👍

[2020-01-29 10:10] dragoscd opened #159 "The optimistic updates are not cleared on errors"
If the server throws an unexpected error or the network connection goes down the optimistic data is not cleared.

[2020-01-29 10:22] JoviDeCroock commented on #159
Hey @dragoscd

I've taken a quick look and it seems like this works in our tests, could you provide any more information. For instance do you have an exchange that re-throws this error?
If possible could you provide a minimal reproduction? This can speed up the finding of the bug in question

[2020-01-29 12:36] dragoscd commented on #159
I've used the `subscriptions` example and added a simple mutation there:

server:

[code]

client:

[code]

[2020-01-29 12:54] JoviDeCroock commented on #159
Given that information the issue will be because this optimisticLayer is persisted by means of `cache.updateQuery` due to this line: https://github.com/FormidableLabs/urql-exchange-graphcache/blob/master/src/operations/write.ts#L165

[2020-01-31 11:19] JoviDeCroock commented on #159
Hey,

This is fixed by https://github.com/FormidableLabs/urql-exchange-graphcache/pull/160, if you run into any more issues with this feel free to reopen the issue!

[2020-01-31 11:19] #159 closed

[2020-01-31 12:04] dragoscd commented on #159
Awesome, thanks for the quick support, I'll check it out

[2020-01-31 12:36] kitten commented on #154
I misread your issue. Specifically `data` is never `null` in Graphcache. https://github.com/FormidableLabs/urql-exchange-graphcache/blob/cd117690893fd162d31e8cdefd7f39f06254c66d/src/operations/query.ts#L103

You probably meant to open this issue on `urql`, since the hooks default to `undefined` for `data` there.

The other aspect here of data becoming `null` when your only queried field `room` is

[2020-01-31 12:36] #154 closed

[2020-02-05 13:15] zenios opened #162 "cache-and-network clears previous data when refetching"
Using cache-and-network after initial fetching i get data with stale true followed by undefined data and then again data with stale false

Wasn't cache-and-network supposed to never return undefined for data unless its and initial fetch?

[2020-02-05 13:21] JoviDeCroock commented on #162
Hey @zenios

I think there's some context missing in this issue report, what is your response? Can you give a reproduction? Are there any resolvers that could interfere?

[2020-02-05 13:37] zenios commented on #162
I did some tests and found out that this happens only when we have dedupExchange in place.

Should dedupExchange be ignored when using graphcache?

[2020-02-05 13:46] JoviDeCroock commented on #162
The `dedupExchange` should not  be an issue, I think there's a more underlying issue being masked. It would really be helpfull to see as to why you're using `undefined` and what's going wrong.
Removing `dedup` could point to an operation eagerly returning during `cache-and-network` or multiple dispatches at the same time removing this?

[2020-02-05 13:58] zenios commented on #162
I am not using undefined. Data is undefined such as

[{fetching, data, stale}] = useQuery(params)

First mount
data = undefined  | fetching true | stale = false
data = Some data | fetching false | stale = false

Second mount

data = some data | fetching false | stale = true
data = undefined | fetching true | stale = false
data = new data | fetching false | state = false

I found something else als

[2020-02-05 14:02] zenios commented on #162
Forgot to mention

Urql: 1.8.2
exchange-graphcache: 2.1.0

Do you

[2020-02-05 14:03] JoviDeCroock commented on #162
Would you mind trying with `yarn add https://github.pika.dev/formidablelabs/urql/pr/521`?

[2020-02-05 14:09] zenios commented on #162
Same results

[2020-02-05 14:12] zenios commented on #162
The only difference with the previous results is that it does the undefined data also on non StrictMode

[2020-02-05 14:13] JoviDeCroock commented on #162
So yes the thing we can conclude is that it's not `graphCache` related but the combination of `urql-operations` with `StrictMode` that's good to know. I'm going to look into this.

[2020-02-05 14:14] zenios commented on #162
Do you have a codesandbox example with graphcache?

Maybe i can work on that and create a reproduction

[2020-02-05 14:15] zenios commented on #162
Also i know that there are some changes with regards to strictmode after 1.8.2 but they are not released. If you could create a @next version i can try that also

[2020-02-05 14:16] JoviDeCroock commented on #162
You can find a repro template here: https://raw.githubusercontent.com/FormidableLabs/urql/master/.github/ISSUE_TEMPLATE/bug_report.md

[2020-02-05 14:28] zenios commented on #162
I have a reproduction. Even without graphcache

https://codesandbox.io/s/recursing-bose-ijmri?fontsize=14&hidenavigation=1&theme=dark

The examples shows loading text only when data is undefined. You can see clearly when toggling between component show / hide that is loading.

[2020-02-05 15:14] JoviDeCroock commented on #162
When using the build from `yarn add https://github.pika.dev/formidablelabs/urql/pr/521` the bug you describe doesn't pop up for me

[2020-02-05 15:19] zenios commented on #162
Let me try again after clearing node modules

On Wed, Feb 5, 2020 at 5:14 PM Jovi De Croock <notifications@github.com>
wrote:

[2020-02-05 15:26] zenios commented on #162
Still the same for me.Have you tried the PR on the codesandbox example i provided?

[2020-02-05 15:27] JoviDeCroock commented on #162
Yes, where it is fixed with that PR

[2020-02-05 15:28] zenios commented on #162
That reproduction though does not include graphcache

[2020-02-05 15:30] zenios commented on #162
Most probably we are looking at different results.I forked the codesandbox project and added the version of urql specified in the PR and i still see the issue.

[2020-02-05 15:35] JoviDeCroock commented on #162
@zenios I added it to my local reproduction and it works even with graphcache.

Here's a gif with graphcache and that urql pr: http://www.giphy.com/gifs/M9TYuB6jf3qFZz295x you'll see fetching in the column if ever `res.fetching || res.data === undefined`

[2020-02-05 15:45] zenios commented on #162
Actually the reproduction will show loading only if data === undefined.
I removed the res.fetching just to show that on remount we should always
have data (cache-and-network) even though its fetching

Btw: Your Giphy returns 404

On Wed, Feb 5, 2020 at 5:35 PM Jovi De Croock <notifications@github.com>
wrote:

[2020-02-05 15:48] zenios commented on #162
I am positive that this is not the case. Do you want me to make a video as well?

[2020-02-05 15:51] JoviDeCroock commented on #162
I found the caveat and I'm researching it

[2020-02-05 15:53] zenios commented on #162
Ok thanks

[2020-02-05 17:45] JoviDeCroock commented on #162
Hey,

I think this `yarn add https://github.pika.dev/formidablelabs/urql/pr/523` solves your issue

[2020-02-05 17:48] zenios commented on #162
Will try in the next 30 minutes and let you know

Thanks

On Wed, 5 Feb 2020, 19:45 Jovi De Croock, <notifications@github.com> wrote:

[2020-02-05 18:14] zenios commented on #162
Hi

So i have good new and bad news :)

The good new is that we don't have any more undefined data between refetches in strict mod

The bad news is that fetching is not raised to true when re fetching.

It stays false (Even though a re-fetch is actually executed)

[2020-02-05 18:15] JoviDeCroock commented on #162
For a background fetch? Yes that's normal the stale indicate that a background fetch is going on

[2020-02-05 18:21] zenios commented on #162
I though fetching was supposed to also raise to true. (Just like apollo)

Never the less stale should be fine

Thank you very much for your help.
Do you want me to close the issue or wait until the code is merged upstream?

[2020-02-05 18:24] JoviDeCroock commented on #162
I'll be closing this, feel free to open a new issue if you walk into other issues.
Have a nice day!

[2020-02-05 18:24] #162 closed

[2020-02-06 12:54] zenios opened #163 "invalidateFragment"
Are there plans to add support for invalidateFragment?

[2020-02-06 12:56] kitten commented on #163
Yes! We’ve been thinking of how this could make sense, but currently my opinion is that it may make more sense to invalidate an entity instead (either by passing a partial entity or an entity’s field like with `store.resolve`)

Would it be possible for you to explain your use-case here? It’d help us a lot in making a decision! 🙏

[2020-02-06 13:24] zenios commented on #163
Sure i will simplify it a bit but i think it gets the point. So

Chat system

Room (RoomFragment) and users (UserFragment)

You have the option to multi chat inside a room and to private chat with a single user

User first joins the room
1.Execute query to get room details
2.Subscribe to room updates (events are user joined / left)

On user join i add the UserFragment to cache using writeFragment

[2020-02-06 13:37] kitten commented on #163
You don't have to worry about saving memory, first of all. Graphcache has a built-in garbage collector that removes unreachable entities automatically as long as there are no circular references. :tada: Also, if you're only dealing with a single user instance you're adding/removing, it's likely that this isn't consuming that much memory.

execute another query to get users details but there is a g

[2020-02-06 13:39] zenios commented on #163
Invalidation was only needed just to save memory. since a built-in garbage collector is provided then everything is fine

Thanks

[2020-02-06 13:43] #163 closed

[2020-03-17 17:22] #146 closed